body {
    text-align: center;
    margin: 0;
    background: linear-gradient(#FFE082 0%, #4CAF50 100%);
    background-repeat: no-repeat;
}

#image {
    width: 140px;
    height: 150px;
    border-radius: 50%;
}

#intro {
    text-align: center;
    padding-top: 100px;
}

h1 {
    text-shadow: 2px 2px #AD1457;
    font-size: 30px;
}

#s {
    font-family: 'Courgette', cursive;
    font-size: 50px;

}

#descrip {
    font-size: 18px;
    text-align: center;
    padding-bottom: 200px;
    font-family: serif;
}

.line {
    background-color: black;
    width: 100px;
    height: 6px;
    margin: 80px auto;
}

.menu {
    list-style: none;
    font-family: monospace;
    top: 0px;
    margin-top: 0px;
    cursor: pointer;
    position: fixed;
    width: 100%;
    background-color: white;
}

.link {
   display: inline;
    font-size: 20px;
    color: darkgoldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.link:hover {
    background-color:aquamarine;
    font-size: 25px;
    text-decoration: underline;
}

.pic {
    width: 400px;
    height: 400px;
}

html {
    scroll-behavior: smooth;
}

.a1:hover {
    color: darkred;
}

a {
    text-decoration: underline;
    color: blue;
}

.ph{
    width: 400px;
    height: 400px;
    transition: transform 0.2s;
}

.ph:hover{
    transform: scale(0.9);
}

#contact{
    width: 100%;
    background-color: firebrick;
}

#contact iframe{
    width: 90%;
}

.contact1 h3 {
    display: inline;
}

#contact a{
    color: white! important;
    text-decoration: none! important;
    
}